# Foundations of Data Science
## Homework 2

Student Name: Vaishali Pari

Student Netid: vp1096
***

### Part 1: Case study
- Read [this article](http://www.nytimes.com/2012/02/19/magazine/shopping-habits.html) in the New York Times.
- Use what we've learned in class and from the book to describe how one could set Target's problem up as a predictive modeling problem, such that they could have gotten the results that they did.  Formulate your solution as a proposed plan using our data science terminology.  Include aspects of the Data Science Workflow that you see as relevant to solving the problem.  Be precise but concise.

Predective Modeling Approach for Target's problem to increased sales by focusing on the buying habits of pregnent customes.
Choosing the Target Variable: predict when their female customers will enter the trimester of pregnency 
From the article, target wants to find the customers who are pregnent and send then coupons and have scientific evidence of how major life events are a turning point in changing peoples habbits. To be ahead of other retailers target decides to send baby item coupons to pregnent customers even before the baby is born.
Feature Selection: purchase or lack of purchase of specific products
we collect some training data set and narrow down to target's regular customers. By analysing the patterns of customers buying vitamine supliments,pregnency tests,lotion, etc we can predict the pregnant customers. we can assign a purchase basket score to keep track of them. 
Algorithm Selection: To find the pregnent customers and what products to suggest them can be learned from applying some algorith on the dataset. We can choose logistic regression, which combines the prediction and feature selection steps. 
Finally send out email coupons to the selected customers and keep track of who uses it and send further rewards. Also send out coupons designed in a casual way that they don't realise its sent after spying on them. 
This predictive modelling of target turned out to be a success not only because of analysing the customer patterns and targeting them but because they focused the target based on the scientific study of the human habbit of the cue-routine-reward system.

### Part 2: Exploring data in the command line
For this part we will be using the data file located in `"data/advertising_events.csv"`. This file consists of records that pertain to some online advertising events on a given day. There are 4 comma separated columns in this order: `userid`, `timestamp`, `domain`, and `action`. These fields are of type `int` (continuous), `int` (continuous), `string`, and `int` (category) respectively. Answer the following questions using Linux/Unix bash commands. All questions can be answered in one line (sometimes, with pipes)! Some questions will have many possible solutions. Don't forget that in IPython notebooks you must prefix all bash commands with an exclamation point, i.e. `"!command arguments"`.

[Hints: You can experiment with whatever you want in the notebook and then delete things to construct your answer later.  You can also use ssh to use the actual bash shell on EC2 and then just paste your answers here. Recall that once you enter the "!" then filename completion should work.]

1. How many records (lines) are in this file?

In [26]:
!wc -l advertising_events.csv

   10341 advertising_events.csv

2\. How many unique users are in this file? (hint: consider the 'cut' command and use pipe operator '|')

In [31]:
!cut -d, -f 1 advertising_events.csv | uniq | wc -l

   10331

3\. Rank all domains by the number of visits they received in descending order. (hint: consider the 'cut', 'uniq' and 'sort' commands and the pipe operator).

In [44]:
!cut -d, -f 3 advertising_events.csv |sort |uniq -c |sort -n -r

3114 google.com
2092 facebook.com
1036 youtube.com
1034 yahoo.com
1022 baidu.com
 513 wikipedia.org
 511 amazon.com
 382 qq.com
 321 twitter.com
 316 taobao.com

4\. List all records for the user with user id 37. (hint: this can be done using 'grep')

In [46]:
!grep -w '37' advertising_events.csv

37,648061658,google.com,0
37,642479972,google.com,2
37,644493341,facebook.com,2
37,654941318,facebook.com,1
37,649979874,baidu.com,1
37,653061949,yahoo.com,1
37,655020469,google.com,3
37,640878012,amazon.com,0
37,659864136,youtube.com,1
37,640361378,yahoo.com,1
37,653862134,facebook.com,0
37,648828970,youtube.com,0

### Part 3: Dealing with data Pythonically

In [47]:
# You might find these packages useful. You may import any others you want!
import pandas as pd
import numpy as np

1\. Load the data set `"data/ads_dataset.tsv"` into a Python Pandas data frame called `ads`.

In [48]:
adsData = pd.read_csv('ads_dataset.tsv', sep='\t')
adsData

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,106,106,0,0,169,2130,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,72,72,0,0,154,1100,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,5,5,0,0,4,12,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,150,539,0
NaN,0,NaN,2,0.0,0.500000,0.0,-101.149300,101,101,0,1,103,362,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,17,35,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,42,42,0,0,42,110,0
NaN,0,NaN,2,0.0,29.791670,0.0,-106.188300,121,121,0,1,101,401,0
NaN,0,NaN,3,0.0,45.479170,0.0,-34.144730,64,64,0,1,100,298,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,13,13,0,0,53,247,0
NaN,1,1.0,2,0.0,0.958333,0.0,-20.671200,21,21,0,1,65,175,0
NaN,0,NaN,2,0.0,21.333330,0.0,-108.323000,118,118,0,1,163,891,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,151,151,0,0,24,198,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,16,48,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,81,81,0,0,32,177,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,68,68,0,0,64,305,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,36,36,0,0,76,163,0
NaN,0,NaN,2,0.0,15.958330,0.0,-6.683471,14,14,0,1,101,1105,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,19,19,0,0,30,76,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,168,1317,0
NaN,0,NaN,2,0.0,27.250000,0.0,-124.610000,138,138,0,1,172,828,0
NaN,0,NaN,2,0.0,133.125000,0.0,50.474090,16,16,0,1,67,396,0
NaN,0,NaN,3,0.0,8.395833,0.0,2.534722,3,3,0,1,146,398,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,9,9,0,0,-1,26,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,145,145,0,0,179,1215,0
NaN,0,NaN,8,0.0,15.994050,0.0,12.569260,1,1,0,1,64,167,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,39,39,0,0,165,3883,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,34,34,0,0,96,219,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,135,135,0,0,143,1011,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,81,219,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,6,6,0,0,0,182,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,44,44,0,0,84,139,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,85,85,0,0,169,276,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,49,49,0,0,18,45,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,30,30,0,0,53,506,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,10,10,0,0,109,1131,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,77,77,0,0,11,38,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,14,14,0,0,9,87,0
NaN,0,NaN,3,0.0,28.229170,0.0,-7.932672,26,26,0,1,162,1178,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,48,48,0,0,39,139,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,38,38,0,0,26,117,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,70,70,0,0,171,506,0
NaN,0,NaN,2,0.0,8.541667,0.0,-14.237070,18,18,0,1,-1,3,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,71,71,0,0,63,254,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,184,1358,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,95,95,0,0,164,2462,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,134,134,0,0,174,499,0
NaN,0,NaN,10,0.0,7.101852,0.0,3.137754,3,3,0,1,103,255,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,109,109,0,0,143,808,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,57,57,0,0,164,1912,0
NaN,0,NaN,2,0.0,131.083300,0.0,34.678500,30,30,0,1,30,214,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,181,181,0,0,22,125,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,69,69,0,0,95,187,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,119,119,0,0,103,1338,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,37,37,0,0,1,22,0
NaN,0,NaN,3,0.0,30.979170,0.0,12.621240,8,8,0,1,168,2080,0
NaN,0,NaN,2,0.0,1.041667,0.0,-0.916713,1,1,0,1,1,15,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,20,20,0,0,132,556,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,180,180,0,0,71,400,0
NaN,0,NaN,1,0.0,0.000000,0.0,0.000000,185,185,0,0,77,401,0

2\. Write a Python function called `getDfSummary()` that does the following:
- Takes as input a data frame
- For each variable in the data frame calculates the following features:
  - `number_nan` to count the number of missing not-a-number values
  - Ignoring missing, NA, and Null values:
    - `number_distinct` to count the number of distinct values a variable can take on
    - `mean`, `max`, `min`, `std` (standard deviation), and `25%`, `50%`, `75%` to correspond to the appropriate percentiles
- All of these new features should be loaded in a new data frame. Each row of the data frame should be a variable from the input data frame, and the columns should be the new summary features.
- Returns this new data frame containing all of the summary information

Hint: The pandas `describe()` [(manual page)](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.describe.html) method returns a useful series of values that can be used here.

In [49]:
def getDfSummary(input_data):
    df = pd.DataFrame(input_data)
    newdf=pd.DataFrame(index=df.columns)
    newdf['number_nan']=df.isnull().sum()
    d=pd.DataFrame(df.describe())
    d=d.T
    frames=[newdf,d]
    output_data=pd.concat(frames,axis=1, join='inner')
    output_data= output_data.rename(columns={'count': 'number_distinct'})
    return output_data
result=getDfSummary(adsData)
result

,number_nan,number_distinct,mean,std,min,25%,50%,75%,max
isbuyer,0,54584.0,0.042632,0.202027,0.0000,0.0,0.0,0.000000,1.00000
buy_freq,52257,2327.0,1.240653,0.782228,1.0000,1.0,1.0,1.000000,15.00000
visit_freq,0,54584.0,1.852777,2.921820,0.0000,1.0,1.0,2.000000,84.00000
buy_interval,0,54584.0,0.210008,3.922016,0.0000,0.0,0.0,0.000000,174.62500
sv_interval,0,54584.0,5.825610,17.595442,0.0000,0.0,0.0,0.104167,184.91670
expected_time_buy,0,54584.0,-0.198040,4.997792,-181.9238,0.0,0.0,0.000000,84.28571
expected_time_visit,0,54584.0,-10.210786,31.879722,-187.6156,0.0,0.0,0.000000,91.40192
last_buy,0,54584.0,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000
last_visit,0,54584.0,64.729335,53.476658,0.0000,18.0,51.0,105.000000,188.00000
multiple_buy,0,54584.0,0.006357,0.079479,0.0000,0.0,0.0,0.000000,1.00000
multiple_visit,0,54584.0,0.277444,0.447742,0.0000,0.0,0.0,1.000000,1.00000
uniq_urls,0,54584.0,86.569343,61.969765,-1.0000,30.0,75.0,155.000000,206.00000
num_checkins,0,54584.0,720.657592,1275.727306,1.0000,127.0,319.0,802.000000,37091.00000
y_buy,0,54584.0,0.004635,0.067924,0.0000,0.0,0.0,0.000000,1.00000

3\. How long does it take for your `getDfSummary()` function to work on your `ads` data frame? Show us the results below.

Hint: `%timeit getDfSummary(ads)`

In [50]:
timeit getDfSummary(adsData)

10 loops, best of 3: 61.3 ms per loop

4\. Using the results returned from `getDfSummary()`, which fields, if any, contain missing `NaN` values?

In [59]:
print 'Fields containing NAN values are:'
NanFields=result.index[result['number_nan'] != 0].tolist()
NanFields

Fields containing NAN values are:

['buy_freq']

5\. For the fields with missing values, does it look like the data is missing at random? Are there any other fields that correlate perfectly, or predict that the data is missing? What would be an appropriate method for filling in missing values?

Hint: create another data frame that has just the records with a missing value. Get a summary of this data frame using `getDfSummary()` and compare the differences. Do some feature distributions change dramatically?

In [70]:
#We have missing data in buy_freq and the data is missing for most of the records. 
#Finding correlation between fields
adsData.corr(method='pearson', min_periods=1)
#From the result it can be predicted that multiple_buy and buy_freq are correlated(0.735). 
#If a buyer has bought multiple times then his buy frequency might take its value

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
isbuyer,1.000000,NaN,0.326373,0.253749,0.037496,-0.187782,-0.080492,-0.089678,-0.089678,0.379045,0.231174,-0.006641,-0.004424,0.112434
buy_freq,NaN,1.000000,0.487548,0.398839,0.000280,-0.291767,0.060817,-0.126793,-0.126793,0.735054,0.154837,0.042624,0.042764,0.128118
visit_freq,0.326373,0.487548,1.000000,0.262660,0.140983,-0.147219,-0.121919,-0.171388,-0.171388,0.354157,0.472163,0.039079,0.048881,0.118092
buy_interval,0.253749,0.398839,0.262660,1.000000,0.042134,0.005762,0.010266,-0.046015,-0.046015,0.669442,0.083427,0.013895,0.008804,0.068453
sv_interval,0.037496,0.000280,0.140983,0.042134,1.000000,0.001817,0.017179,-0.150368,-0.150368,0.022634,0.534310,0.094210,0.073020,0.011096
expected_time_buy,-0.187782,-0.291767,-0.147219,0.005762,0.001817,1.000000,0.053677,-0.001402,-0.001402,-0.495407,-0.059168,-0.008078,-0.005148,-0.038141
expected_time_visit,-0.080492,0.060817,-0.121919,0.010266,0.017179,0.053677,1.000000,-0.284973,-0.284973,-0.013129,-0.516888,-0.083879,-0.051314,0.011826
last_buy,-0.089678,-0.126793,-0.171388,-0.046015,-0.150368,-0.001402,-0.284973,1.000000,1.000000,-0.058602,-0.183995,0.268582,0.142725,-0.059171
last_visit,-0.089678,-0.126793,-0.171388,-0.046015,-0.150368,-0.001402,-0.284973,1.000000,1.000000,-0.058602,-0.183995,0.268582,0.142725,-0.059171
multiple_buy,0.379045,0.735054,0.354157,0.669442,0.022634,-0.495407,-0.013129,-0.058602,-0.058602,1.000000,0.123419,0.004246,0.005247,0.109926
multiple_visit,0.231174,0.154837,0.472163,0.083427,0.534310,-0.059168,-0.516888,-0.183995,-0.183995,0.123419,1.000000,0.043860,0.045599,0.070968
uniq_urls,-0.006641,0.042624,0.039079,0.013895,0.094210,-0.008078,-0.083879,0.268582,0.268582,0.004246,0.043860,1.000000,0.419581,-0.019238
num_checkins,-0.004424,0.042764,0.048881,0.008804,0.073020,-0.005148,-0.051314,0.142725,0.142725,0.005247,0.045599,0.419581,1.000000,-0.007766
y_buy,0.112434,0.128118,0.118092,0.068453,0.011096,-0.038141,0.011826,-0.059171,-0.059171,0.109926,0.070968,-0.019238,-0.007766,1.000000

In [71]:
#data frame that has just the records with a missing value and summary of this data frame using getDfSummary()
null_data = adsData[adsData.isnull().any(axis=1)]
getDfSummary(null_data)

,number_nan,number_distinct,mean,std,min,25%,50%,75%,max
isbuyer,0,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000
buy_freq,52257,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
visit_freq,0,52257.0,1.651549,2.147955,1.0000,1.0,1.0,2.000000,84.00000
buy_interval,0,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000
sv_interval,0,52257.0,5.686388,17.623555,0.0000,0.0,0.0,0.041667,184.91670
expected_time_buy,0,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000
expected_time_visit,0,52257.0,-9.669298,31.239030,-187.6156,0.0,0.0,0.000000,91.40192
last_buy,0,52257.0,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000
last_visit,0,52257.0,65.741317,53.484622,0.0000,19.0,52.0,106.000000,188.00000
multiple_buy,0,52257.0,0.000000,0.000000,0.0000,0.0,0.0,0.000000,0.00000
multiple_visit,0,52257.0,0.255602,0.436203,0.0000,0.0,0.0,1.000000,1.00000
uniq_urls,0,52257.0,86.656180,61.996711,-1.0000,30.0,75.0,155.000000,206.00000
num_checkins,0,52257.0,721.848518,1284.504018,1.0000,126.0,318.0,803.000000,37091.00000
y_buy,0,52257.0,0.003024,0.054904,0.0000,0.0,0.0,0.000000,1.00000

In [72]:
#filling Nan values with mean
adsData.fillna(adsData.mean())

,isbuyer,buy_freq,visit_freq,buy_interval,sv_interval,expected_time_buy,expected_time_visit,last_buy,last_visit,multiple_buy,multiple_visit,uniq_urls,num_checkins,y_buy
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,106,106,0,0,169,2130,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,72,72,0,0,154,1100,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,5,5,0,0,4,12,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,6,6,0,0,150,539,0
NaN,0,1.240653,2,0.0,0.500000,0.0,-101.149300,101,101,0,1,103,362,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,42,42,0,0,17,35,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,42,42,0,0,42,110,0
NaN,0,1.240653,2,0.0,29.791670,0.0,-106.188300,121,121,0,1,101,401,0
NaN,0,1.240653,3,0.0,45.479170,0.0,-34.144730,64,64,0,1,100,298,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,13,13,0,0,53,247,0
NaN,1,1.000000,2,0.0,0.958333,0.0,-20.671200,21,21,0,1,65,175,0
NaN,0,1.240653,2,0.0,21.333330,0.0,-108.323000,118,118,0,1,163,891,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,151,151,0,0,24,198,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,19,19,0,0,16,48,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,81,81,0,0,32,177,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,68,68,0,0,64,305,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,36,36,0,0,76,163,0
NaN,0,1.240653,2,0.0,15.958330,0.0,-6.683471,14,14,0,1,101,1105,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,19,19,0,0,30,76,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,70,70,0,0,168,1317,0
NaN,0,1.240653,2,0.0,27.250000,0.0,-124.610000,138,138,0,1,172,828,0
NaN,0,1.240653,2,0.0,133.125000,0.0,50.474090,16,16,0,1,67,396,0
NaN,0,1.240653,3,0.0,8.395833,0.0,2.534722,3,3,0,1,146,398,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,9,9,0,0,-1,26,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,145,145,0,0,179,1215,0
NaN,0,1.240653,8,0.0,15.994050,0.0,12.569260,1,1,0,1,64,167,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,39,39,0,0,165,3883,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,34,34,0,0,96,219,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,135,135,0,0,143,1011,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,77,77,0,0,81,219,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,6,6,0,0,0,182,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,44,44,0,0,84,139,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,85,85,0,0,169,276,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,49,49,0,0,18,45,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,30,30,0,0,53,506,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,10,10,0,0,109,1131,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,77,77,0,0,11,38,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,14,14,0,0,9,87,0
NaN,0,1.240653,3,0.0,28.229170,0.0,-7.932672,26,26,0,1,162,1178,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,48,48,0,0,39,139,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,38,38,0,0,26,117,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,70,70,0,0,171,506,0
NaN,0,1.240653,2,0.0,8.541667,0.0,-14.237070,18,18,0,1,-1,3,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,71,71,0,0,63,254,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,185,185,0,0,184,1358,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,95,95,0,0,164,2462,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,134,134,0,0,174,499,0
NaN,0,1.240653,10,0.0,7.101852,0.0,3.137754,3,3,0,1,103,255,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,109,109,0,0,143,808,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,57,57,0,0,164,1912,0
NaN,0,1.240653,2,0.0,131.083300,0.0,34.678500,30,30,0,1,30,214,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,181,181,0,0,22,125,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,69,69,0,0,95,187,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,119,119,0,0,103,1338,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,37,37,0,0,1,22,0
NaN,0,1.240653,3,0.0,30.979170,0.0,12.621240,8,8,0,1,168,2080,0
NaN,0,1.240653,2,0.0,1.041667,0.0,-0.916713,1,1,0,1,1,15,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,20,20,0,0,132,556,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,180,180,0,0,71,400,0
NaN,0,1.240653,1,0.0,0.000000,0.0,0.000000,185,185,0,0,77,401,0

6\. Which variables are binary?

In [66]:
bool_cols = [col for col in adsData
             if adsData[[col]].dropna().isin([0, 1]).all().values]

bool_cols

['isbuyer', 'multiple_buy', 'multiple_visit', 'y_buy']